

body {
  background: #eee;
}

#camera {
    display: inline-block;
    background-color: #eee;
    width: 250px;
    height: 300px;
    margin: 0.5em;
}

#snapshots {
    height: 150px;
    margin: 0.5em 0;
    padding: 3px;
    border: 1px solid #aaa;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}