body {
}

.buttons {
  width: 1024px;
  margin: 0 auto;
  padding: 10px;
}

#camera {
    display: block;
    background-color: #eee;
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    border: solid 1px black;
}

#snapshots {
    height: 150px;
    margin: 0.5em 0;
    padding: 3px;
    border: 1px solid #aaa;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
